/* Daniel Maxime */
nav{
    font-size: 13pt;
    font-family: sans-serif;
    text-align: center;  
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	color: gold;
} 

nav a{
    text-decoration: none;
    color: inherit;
    padding-right: 3em;
	padding-left: 0em;
    text-align: center;
    
    
}

nav a:hover{
    color:red;
}

 ul li {
    list-style:none;
} 

nav ul ul {
    visibility: hidden;
    position: absolute;
    padding: 0;
    text-align:left; 
    background-color: black; 
    border-color: gold;
    border-style: solid;
}

nav ul li:hover > ul{
    visibility: visible;  
    
} 


nav > ul > li {
    display: inline-block;
}


