/*Stylesheet for Signup form. */
/*Daniel Maxime */

form {
   
    position: fixed;
    top: 3.5%;
    left: 60%;
    
    
}





a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}