/*This is basic stylesheet for the clans and teams page of the site. */

body{
    background-image:url(images/website-bkg2.jpg);
    color:gold;
        
}

table{
	border: 2px solid gold;
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    background-color: midnightblue;
}

th, td{
	border:1.5px black solid;
	padding: 5px;
}

h1{
    text-align: center;
    font-family: fantasy;
}
P{
    font-size: 20pt;
}