/*	Style sheet for the homepage of the website
	Author: Gregory V & ________
	Data: 5.4.2017

	FileName: homepage-stylesheet.css
*/

/* Styles for all body elemets*/
body{
    color:gold;
    background-image: url(images/website-bkg2.jpg);
}

/*Styles for Sectioning tags*/
section.about{
	width:65%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15pt;
	font-family: fantasy;
	border: 5px solid ghostwhite;
}
section.about p{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}




/*Styles for grouping tags*/
h1{
    text-align: center;
    font-family: fantasy;
    
}
