/*	This is a stylesheet for the nav bar to be used
	with all of the websites pages.
	Author: Gregory Vilgorin
	Date:5/7/2017

	FileName: nav-bar.css
*/

nav{
    font-size: 13pt;
    font-family: sans-serif;
    text-align: center;  
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	color: gold;
}

nav a{
    text-decoration: none;
    color: inherit;
    padding-right: 3em;
	padding-left: 3em;
    text-align: center;
    border-collapse: collapse;
}

nav a:hover{
    color:red;
}